<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/images/aa.png" rel="shortcut icon"/>
    <script src="/javascripts/profileValidation.js" ></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleProfile.css"/>
    <input type="hidden" id="refreshed" value="no">
    <script type="text/javascript">
      onload=function(){
        var e=document.getElementById("refreshed");
        if(e.value=="no")e.value="yes";
        else{e.value="no";location.reload();}
      }
    </script>
  </head>
  <% include header %>
  <body>
      <div class="left">
        <div>
          <img src= "/uploads/<%= d.imagePath %>" alt="img" class="profilePic" />
        </div>
      </div>  
      <div class="right">  
        <div class="intro">
          <div><%= d.personalInfo.firstName %></div>
          <div>Designation</div>
        </div>
        <div class="fieldName">
          <h2>Personal information</h2>
          <table>
            <tr>
              <th class="value">Value</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>First name:</td>
              <td>
                <input class="input" type="text" id="input" name="firstName" value="<%= d.personalInfo.firstName %>" readonly="true"/>
              </td>
            </tr>
            <tr>
              <td>Last name:</td>
              <td>
                <input class="input" type="text" name="lastName" value="<%= d.personalInfo.lastName %>" readonly="true"/>
              </td>
            </tr>
            <tr>
              <td>Email:</td>
              <td><%= d.email %></td>
            </tr>
            <tr>
              <td>Gender:</td>
              <td><%= d.personalInfo.gender %></td>
            </tr>
            <tr>
              <td>Date of birth:</td>
              <td>
                <input class="input" type="date" name="dob" value="<%= d.personalInfo.dob %>" readonly="true"/>
              </td>
            </tr>
            <tr>
              <td>Address:</td>
              <td>
                <textarea class="input" name="address" readonly="true"><%= d.personalInfo.address %></textarea>
              </td>
            </tr>
            <tr>
              <td>Mobile no:</td>
              <td>
                <input class="input" type="text" name="phNo" value="<%= d.personalInfo.mobileNo %>" readonly="true" id="phNo"/>
              </td>
            </tr>
             <tr>
            <td>Tenth grade:</td>
            <td><input class="input" type="number" name="tenthPercentage" value="<%= d.education.tenthPercentage %>" readonly="true" /></td>
          </tr>
          <tr>
            <td>+2 grade:</td>
            <td><input class="input" type="number" name="twelfthPercentage" value="<%= d.education.twelfthPercentage %>" readonly="true"/></td>
          </tr>
          <tr>
            <td>Degree</td>
            <td><input class="input" type="text" name="Degree" value="<%= d.education.degree %>" readonly="true" /></td>
          </tr>
          <tr>
            <td>other</td>
            <td><input class="input" type="text" name="Other" value="<%= d.education.other %>" readonly="true"/></td>
          </tr>
          </table>
        </div> 
      </div>
  </body>
</html>
